<p id="notice"><%= notice %></p>

<h1>TA Test</h1>

<p><b>Course:</b><%= @ta_test.course.name %></p>
<p><b>Name:</b><%= @ta_test.name %></p>

<%= form_for([@ta_test, @test_result]) do |f| %>
  <% if @test_result.errors.any? %>
    <div id="error_explaination">
      <h2><%= pluralize(@test_result.errors.count, "error") %> prohibited this test_result from being saved:</h2>
      <ul>
        <% @test_result.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% @ta_test.questions.each do |question| %>
    <%= "0" %>
    <% @question_result = @test_result.question_results.build(:question => question) %>
    <%= question.content %>
    <%= f.fields_for @question_result do |qr_builder| %>
      <%= "1" %>
      <% question.answers.each do |answer| %>
        <%= "2" %>
        <% @answer_result = @question_result.answer_results.build(:answer => answer) %>
        <%= qr_builder.fields_for @answer_result do |ar_builder| %>
          <%= "3" %>
          <div class="field">
            <%= answer.content %>
            <%= ar_builder.check_box :selected %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
