<%= form_for([@ta_test, @test_result]) do |f| %>
  <% if @test_result.errors.any? %>
    <div id="error_explaination">
      <h2><%= pluralize(@test_result.errors.count, "error") %> prohibited this test_result from being saved:</h2>
      <ul>
        <% @test_result.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p><b>Course:</b> <%= @ta_test.course.name %></p>
  <p><b>Name:</b> <%= @ta_test.name %></p>

  <%= f.fields_for :question_results do |qr_builder| %>
    <%= qr_builder.fields_for :answer_results do |ar_builder| %>
      <div class="fields">
        <%= ar_builder.check_box :selected %>
      </div>
    <% end %>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
