<%- model_class = TestResult -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:teaching_assistant) %></th>
      <th><%= model_class.human_attribute_name(:grade) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @test_results.each do |test_result| %>
      <tr>
        <td><%= link_to test_result.id, test_result_path(test_result) %></td>
        <td><%= test_result.teaching_assistant.email %></td>
        <td><%= test_result.grade %></td>
        <td><%=l test_result.created_at %></td>
      </td>
    <% end %>
  </tbody>
</table>
