<%- model_class = TestResult -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:course_id) %></th>
      <th><%= model_class.human_attribute_name(:percentace_correct) %></th>
    </tr>
  </thead>
  <tbody>
    <% @teaching_assistant.ta_test.each do |ta_test| %>
      <tr>
        <td><%= link_to ta_test.id, ta_test_path(ta_test) %></td>
        <td><%= ta_test.name %></td>
        <td><%= ta_test.course.name %></td>
        <td><%= ta_test.test_result.grade %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
<%end>
