<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explaination">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.email_field :email, :placeholder => "Email" %>
  </div>
  <div class="field">
    <%= f.password_field :password, :placeholder => "Password" %>
  </div>
  <div class='field'>
    <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %><br/>
  </div>
  <div class='field'>
    <%= f.select :type, [["Teaching Assistant", "TeachingAssistant"], ["Professor", "Professor"]] %><br/>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<div class="actions">
  <%= button_to 'Cancel', login_path, :method => :get %>
</div>
