<%= form_for([@professor, @course]) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explaination">
      <h2><%= pluralize(@couse.errors.count, "error") %> prohibited this course from being saved: </h2>
      <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :name, :placeholder => "Name" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <div class="actions">
    <%= button_to 'Cancel', professor_courses_path, :method => :get %>
  </div>
<% end %>

