<h1>Courses</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.name %></td>
      <td><%= link_to 'Show', professor_course_path(@professor, course) %></td>
      <td><%= link_to 'Edit', edit_professor_course_path(@professor, course) %></td>
      <td><%= link_to 'Destroy', professor_course_path(@professor, course), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<div class="actions">
  <%= button_to 'New Course', new_professor_course_path, :method => :get %>
</div>
