<p id="notice"><%= notice %></p>

<p><b><font size="+2"><center><%= @course.name %></center></font></b></p>

<%= link_to 'View tests for this course', course_ta_tests_path(@course) %>


<%= link_to 'Edit', edit_course_path(@course) %>
<% if params[:professor_id] %>
  <%= link_to 'Back', professor_courses_path(@course.professor) %>
<% else %>
  <%= link_to 'Back', courses_path %>
<% end %>
