<%= link_to 'Tests', course_ta_tests_path(@course) %>

<p><b>Name:</b> <%= @course.name %></p>

<% if session[:professor_id] %>
  <%= link_to 'Edit', edit_course_path(@course) %>
<% end %>

<% if session[:professor_id] %>
  <% session[:professor_id] = nil %>
  <%= link_to 'Back', professor_courses_path(@course.professor) %>
<% else %>
  <%= link_to 'Back', courses_path %>
<% end %>
