<%= link_to 'Tests', course_ta_tests_path(@course) %>

<p><b><font size="+2"><center><%= @course.name %></center></font></b></p>

<% if @professor %>
<%= link_to 'Edit', edit_course_path(@course) %>
<% end %>

<% if params[:professor_id] %>
  <%= link_to 'Back', professor_courses_path(@course.professor) %>
<% else %>
  <%= link_to 'Back', courses_path %>
<% end %>
