<%= form_for([@professor, @course, @ta_test]) do |f| %>
  <% if @ta_test.errors.any? %>
    <div id="error_explaination">
      <h2><%= pluralize(@ta_test.errors.count, "error") %> prohibited this test from being saved:</h2>
      <ul>
        <% @ta_test.error.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <%= f.fields_for :questions do |builder| %>
    <% render "question_fields", :f => builder %>
  <% end %>
  <!-- add more questions HERE -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

