<div class="fields">
  <p>
  <%= f.label :content, "Question" %>
  <%= f.text_area :content, :rows => 3 %>
  <%= f.link_to_remove "Remove Question" %>
  </p>
  <%= f.fields_for :answers do |builder| %>
    <%= render "answer_fields", :f => builder %>
  <% end %>
  <%= f.link_to_add "Add Answer", :answers %>
</div>
