<h1>Listing ta_tests</h1>
 
<table>
  <tr>
    <th>Name</th>
  </tr>
 
<% @ta_tests.each do |ta_test| %>
  <tr>
    <td><%= ta_test.name %></td>
    <td><%= link_to 'Show', professor_course_ta_test_path(@professor, @course, ta_test) %></td>
    <td><%= link_to 'Destroy', professor_course_ta_test_path(@professor, @course, ta_test), :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Results', professor_course_ta_test_test_results_path(@professor, @course, ta_test) %>
  </tr>
<% end %>
</table>
 
<br />
 
<%= link_to 'New TA Test', new_professor_course_ta_test_path %>
