<%- model_class = TaTest -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:course_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th>Forum Activity</th>
      <th>Fog Index</th>
      <th>Kincaid Index</th>
      <th>Flesch Index</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @ta_tests.each do |ta_test| %>
      <tr>
        <td><%= link_to ta_test.id, ta_test_path(ta_test) %></td>
        <td><%= ta_test.name %></td>
        <td><%= ta_test.course.name %></td>
        <td><%=l ta_test.created_at %></td>
        <td>
          <% if current_user_is_professor? %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_ta_test_path(ta_test), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        ta_test_path(ta_test),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
         <% else %>
           <% if TestResult.exists?(:teaching_assistant_id => current_user, :ta_test_id => ta_test) %>
             <%= link_to 'Result', test_result_path(TestResult.where(:teaching_assistant_id => current_user, :ta_test_id => ta_test).first), :class => 'btn btn-mini' %>
           <% else %>
             <%= link_to 'Take', new_ta_test_test_result_path(ta_test), :class => 'btn btn-mini' %>
           <% end %>
         <% end %>
        </td>
	
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_course_ta_test_path(@course),
            :class => 'btn btn-primary' %>
