<p id="notice"><%= notice %></p>

<h1>TA Test</h1>

<p><b>Course:</b><%= @ta_test.course.name %></p>
<p><b>Name:</b><%= @ta_test.name %></p>
<ol>
  <% @ta_test.questions.each do |question| %>
    <li><%= question.content %><br /></li>
    <ul>
      <% question.answers.each do |answer| %>
        <li><%= answer.content %> (<%= answer.correct %>)</li>
      <% end %>
    </ul>
  <% end %>
</ol>

<%= link_to 'Edit', edit_ta_test_path(@ta_test) %>
<%= link_to 'Back', course_ta_tests_path(@ta_test.course) %>
