<%- model_class = TaTest -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @ta_test.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:course_id) %>:</strong></dt>
  <dd><%= @ta_test.course.name %></dd>
  <% if current_user_is_professor? %>
    <dt><strong><%= model_class.human_attribute_name(:test_results) %>:</strong></dt>
    <dd><%= link_to 'results', ta_test_test_results_path(@ta_test) %></dd>
  <% end %>
</dl>

<ol>
  <% @ta_test.questions.each do |question| %>
    <li><%= question.content %><br /></li>
    <ul>
      <% question.answers.each do |answer| %>
        <li><%= answer.content %> (<%= answer.correct %>)</li>
      <% end %>
    </ul>
  <% end %>
</ol>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              course_ta_tests_path(@ta_test.course), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_ta_test_path(@ta_test), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              ta_test_path(@ta_test),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
