<p id="notice"><%= notice %></p>
 
<p>
  <b>Name:</b>
  <%= @ta_test.name %>
</p>

<h2>Questions</h2>

<!-- This is really nasty with the tables, but it looks a little nicer than before. -->

<% @ta_test.questions.each do |question| %>
  <% if question.question_type == "mult_choice" %>
    <table>
      <tr>
        <p><b>Question: </b><%= question.question %></p>
      </tr>
      <tr>
        <table>
          <tr>
            <p><b>A: </b><%= question.answer %> (answer)</p>
          </tr>
          <tr>
            <p><b>B: </b><%= question.wrong1 %></p>
          </tr>
          <tr>
            <p><b>C: </b><%= question.wrong2 %></p>
          </tr>
          <tr>
            <p><b>D: </b><%= question.wrong3 %></p>
          </tr>
        </table>
      </tr>
    </table>
  <% end %>
<% end %>

<!-- Again, really ugly, but it's better than before. -->

<h2>Add a question:</h2>
<%= form_for([@professor, @course, @ta_test, @ta_test.questions.build]) do |f| %>
  <table>
    <tr>
      <div class="field">
        <%= f.select :question_type, [["Multiple Choice", "mult_choice"]] %>
      </div>
    </tr>
    <tr>
      <div class="field">
        <%= f.label "Question: " %>
        <%= f.text_field :question %>
      </div>
    </tr>
    <tr>
      <table>
        <tr>
          <div class="field">
            <%= f.label "A: " %>
            <%= f.text_field :answer %>
          </div> (answer)
        </tr>
        <tr>
          <div class="field">
            <%= f.label "B: " %>
            <%= f.text_field :wrong1 %>
          </div>
        </tr>
        <tr>
          <div class="field">
            <%= f.label "C: " %>
            <%= f.text_field :wrong2 %>
          </div>
        </tr>
        <tr>
          <div class="field">
            <%= f.label "D: " %>
            <%= f.text_field :wrong3 %>
          </div>
        </tr>
      </table>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<br /> 
<%= link_to 'Done', professor_course_ta_tests_path(@professor, @course) %>
