<!DOCTYPE html>
<html>
  <head>
    <% if current_user %>
      <%= current_user.email %> <%= link_to 'logout', logout_path %>
    <% else %>
      <%= link_to 'login', login_path %>
    <% end %>
    <title>MoocTaManager</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="top">
      <h1>MOOC TA Manager</h1>
    </div>
    <div id="nav">
      <ul>
        <% if current_user %>
          <li><%= link_to 'Candidate Results'%></li>
          <li><%= link_to 'Courses', professor_courses_path(:professor_id => current_user.id) %></li>
          <li><%= link_to 'Logout', logout_path %></li>
        <% end %>
        </li>
      </ul>
    </div>
    <div>

      <!-- this entire file is a wrapper for the rest of our app. Whatever page
      we're on gets rendered by the following "yield" call. -->
      <div id="container">
        <%= yield %>
      </div>
    </body>
  </html>
